<launch>
  <!-- you can load an exisiting tree with <node ... args="tree.bt"> !-->
  <node
    name="matching_octomap_server"
    type="matching_octomap_server"
    pkg="pandora_slam_3d"
    output="screen">
    <rosparam
      command="load"
      file="$(find pandora_slam_3d)/config/matching_octomap_server.yaml"/>
    <remap from="cloud_in" to="/kinect/depth_registered/points/matched" />
  </node>

</launch>
