<launch>
  <arg name="openni" default="true"/>
  <arg name="kinect" default="true"/>
  <arg name="xtion" default="false"/>
  <arg name="publish_tf" default="false"/>
  <arg name="visual_odometry" default="false"/>

  <include file="$(find pandora_slam_3d)/launch/slam_3d.launch">
    <arg name="openni" value="$(arg openni)"/>
    <arg name="kinect" value="$(arg kinect)"/>
    <arg name="xtion" value="$(arg xtion)"/>
    <arg name="publish_tf" value="$(arg publish_tf)"/>
    <arg name="visual_odometry" value="$(arg visual_odometry)"/>
  </include>
  
  <include file="$(find pandora_robots_description)/launch/gears/gears_description.launch"/>
</launch>
